[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*" 
flask-cors = "*"
bson = "*"
itsdangerous = "*"
flask-pymongo = "*"
pymongo = {extras = ["srv"], version = "*"}
dnspython = "*"
jwt = "*"
pyjwt = "*"

[dev-packages]

[requires]
python_version = "3.9"
