.admin-home-wrapper {
  display: grid;
  grid-template-columns: 20px [column1-s] 1fr [column1-e column2-s] 1fr [column2-e column3-s] 1fr [column3-e] 20px;
  grid-template-rows: 20px [welcome-s] 64px [welcome-e page-s] 64px [page-e spacer-s] 64px [spacer-e management-s] 1fr [management-e] 20px;

  .admin-home {
    &__welcome-message {
      grid-column: column1-s/column3-e;
      grid-row: welcome-s/welcome-e;
      color: #6BD35F;
      font-family: 'Roboto', sans-serif;
      font-weight: 700;
      font-size: 64px;
      padding-left: 200px;
    }

    &__page-name {
      grid-column: column1-s/column2-e;
      grid-row: page-s/page-e;
      color: #6BD35F;
      font-family: 'Roboto', sans-serif;
      font-weight: 700;
      font-size: 64px;
      padding-left: 200px;
    }

  .admin-home__management-tools {
    grid-column: column1-s/column3-e;
    grid-row: management-s/management-e;
    display: grid;
    grid-template-columns: 50px [col1-s] 1fr [col1-e col2-s] 1fr [col2-e col3-s] 1fr [col3-e] 50px;
    grid-template-rows: [row1-s] 1fr [row1-e row2-s] 1fr [row2-e];
    align-items: center;
    color: #FFFFFF;
    font-size: 28px;
    border-radius: 10px;
    height: 75px;
    width: 175px;
    background-color: #6BD35F;
    text-decoration: none;
    padding: 25px;
  

    &__users {
      grid-column: col1-s/col1-e;
      grid-row: row1-s/row1-e;

    }

    &__passwords {
      grid-column: col2-s/col2-e;
      grid-row: row1-s/row1-e;

      justify-content: space-around;
      align-items: center;
      color: #FFFFFF;
      font-size: 28px;
      border-radius: 10px;
      height: 75px;
      width: 175px;
      background-color: #6BD35F;
      text-decoration: none;
      padding: 25px;
    }

    &__placeholder {
      grid-column: col3-s/col3-e;
      grid-row: row1-s/row1-e;

      justify-content: space-around;
      align-items: center;
      color: #FFFFFF;
      font-size: 28px;
      border-radius: 10px;
      height: 75px;
      width: 175px;
      background-color: #6BD35F;
      text-decoration: none;
      padding: 25px;
      }
    }
  }
}