.header-navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  height: 10vh;

  background-color: #6BD35F;

  &__title {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: Green;
    font-size: 48px;
    font-weight: 700;
  }

  &__logout-icon {
    position: absolute;
    right: 0;
    padding-right: 20px;
    transform: translatey(-20px);
    align-self: center;
    color: darkgreen;
    font-size: 4rem;

    &:hover {
      cursor: pointer;
    }
  }
}

.SmallOgLogo {
  height: 40px;
}