.header-navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;

  background-color: #6BD35F;

  &__title {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: Green;
    font-size: 48px;
    font-weight: 700;
  }
}

.SmallOgLogo {
  height: 40px;
}